header {
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

i {
    color: $white-normal;
}

.header-icons {
    display: flex;
    gap: 14px;
    transition: transform 0.8s;
}

.header-icons a:hover {
    i {
        color: $vinho-light;
        transform: translateY(-5px)
    }
}

.header-button {
    padding: 14px 28px;
    color: $white-normal;
    background: $vinho-light;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    margin: 14px 0;
}

.header-button:hover {
    animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.07);
    }
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
}

@media screen and (max-width: 780px) {
    .header-content {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        i {
            margin-top: 16px;
            font-size: 34px;
        }
    }

    .header-logo img {
        margin-top: 46px;
    }
}